@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato' , 'sans-serif';
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
  margin: 10px 0;
}

h1, h2 {
  text-align: center;
}

img {
  width: 100%;
}

.mainhead {
  background-color: #fff;
  height: 100px;
  padding-top: 10px;
}

.mainhead h1 {
  color: #0C38B1;
  padding: auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.mainhead {
  height: auto;
}

.mainhead ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container a {
  padding: auto 5px;
  margin: 0 5px;
}

.socials ul a img {
  position: relative;
  width: 60%;
}

.container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}

.cla p {
  color: #ffffff;
  text-align: center;
}

.cla p:hover {
  background-color: #0C38B1;
}

.navbar1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-left: 10px;
  height: 50px;
  background-color: #0C38B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar1 li {
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar1 a {
  color: #fff;
  display: block;
}

.navbar1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar1 a, .flex2 a {
  padding: 30px 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar1 li:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: black;
  color: #ffffff;
}

.aboutsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px 40px;
}

.aboutsection img {
  width: 60%;
}

.aboutsection p {
  font-size: 20px;
  margin: auto auto;
  padding-left: 30px;
}

.projectsection {
  color: #0C38B1;
}

.projectsection .twitterdata {
  padding-left: 40px;
  margin-left: 40px;
  padding-right: 40px;
  margin-right: 40px;
  text-align: center;
  margin-bottom: 50px;
  background-color: #0C38B1;
  border-radius: 30px;
  margin-top: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}

.projectsection .twitterdata h3 {
  font-size: 30px;
  color: white;
}

.projectsection .twitterdata .twitterdatacontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projectsection .twitterdata .twitterdatacontent img {
  width: 500%;
}

.projectsection .twitterdata .twitterdatacontent p {
  color: white;
  padding-bottom: 10px;
  font-size: 20px;
}

.projectsection .more {
  text-align: right;
  padding-right: 50px;
  padding-top: 30px;
  font-size: 30px;
}

.projectsection h2 {
  padding-left: 40px;
  padding-bottom: 50px;
  text-align: left;
  padding-top: 50px;
  font-size: 40px;
}

.projectsection .fusion:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 1s;
  transition: 1s;
}

.projectsection .tictac:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 1s;
  transition: 1s;
}

.projectsection .snake:hover, .projectsection .twitter:hover, .projectsection .pwned:hover, .projectsection .twitterdata:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 1s;
  transition: 1s;
}

.projectsection .fusion {
  margin-top: 30px;
  padding-left: 40px;
  margin-left: 40px;
  padding-right: 40px;
  margin-right: 40px;
  text-align: center;
  background-color: #0C38B1;
  border-radius: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

.projectsection .fusion h3 {
  padding-top: 10px;
  font-size: 40px;
  color: #ffffff;
}

.projectsection .fusion .fcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projectsection .fusion .fcontent img {
  padding-top: 20px;
  width: 100%;
}

.projectsection .fusion .fcontent p {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.projectsection .tictac, .projectsection .twitter {
  padding-left: 40px;
  margin-left: 40px;
  padding-right: 40px;
  margin-right: 40px;
  text-align: center;
  margin-bottom: 50px;
  background-color: #0C38B1;
  border-radius: 30px;
  margin-top: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}

.projectsection .tictac h3, .projectsection .twitter h3 {
  padding-top: 10px;
  width: 100%;
  font-size: 40px;
  color: #ffffff;
}

.projectsection .tictac h3 span, .projectsection .twitter h3 span {
  font-size: 20px;
  margin: 20px;
}

.projectsection .tictac .tconten, .projectsection .twitter .tconten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projectsection .tictac .tconten p, .projectsection .twitter .tconten p {
  margin: auto;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.projectsection .tictac .tconten img, .projectsection .twitter .tconten img {
  width: 50%;
}

.projectsection .twitter .tcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 10px;
}

.projectsection .twitter .tcontent p {
  font-size: 20px;
  color: white;
  margin: auto;
}

.projectsection .snake, .projectsection .pwned {
  padding-left: 40px;
  margin-left: 40px;
  padding-right: 40px;
  margin-right: 40px;
  text-align: center;
  background-color: #0C38B1;
  border-radius: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

.projectsection .snake h3, .projectsection .pwned h3 {
  padding-top: 10px;
  font-size: 40px;
  color: #ffffff;
}

.projectsection .snake .pcontent, .projectsection .pwned .pcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projectsection .snake .pcontent p, .projectsection .pwned .pcontent p {
  margin: auto auto;
  color: white;
  font-size: 20px;
}

.projectsection .snake .sconten, .projectsection .pwned .sconten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projectsection .snake .sconten img, .projectsection .pwned .sconten img {
  border-bottom-left-radius: 30px;
  padding-top: 20px;
  width: 50%;
}

.projectsection .snake .sconten p, .projectsection .pwned .sconten p {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.education tag3:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: 1s;
  transition: 1s;
}

.education {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.education h2 {
  font-size: 40px;
  text-align: left;
  color: #0C38B1;
  padding-bottom: 50px;
}

.education tag3 {
  background-color: #0C38B1;
  border-radius: 30px;
  margin-left: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 2s;
  transition: 2s;
}

.education tag3 .edtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 30px;
}

.education tag3 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education tag3 img {
  width: 10%;
  padding-top: 10px;
}

.education tag3 P1, .education tag3 P2, .education tag3 P3, .education tag3 P4 {
  inline-size: auto;
  padding-left: 30px;
  padding-top: 100px;
  color: #ffffff;
}

.skillsinterest p:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 1s;
  transition: 1s;
}

.skillsinterest {
  margin-top: 50px;
  padding-top: 50px;
  margin-left: 30px;
  padding-left: 30px;
}

.skillsinterest h3 {
  font-size: 40px;
  color: #0C38B1;
  padding-bottom: 30px;
}

.skillsinterest p {
  -webkit-transition: 2s;
  transition: 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: 40px;
  padding-right: 40px;
  color: #ffffff;
  background-color: #0C38B1;
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skillsinterest p span {
  color: #ffffff;
  font-size: 15px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.insp p:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 1s;
  transition: 1s;
}

.insp {
  margin-top: 50px;
  margin-left: 30px;
  padding-left: 30px;
  margin-right: 40px;
}

.insp p {
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  padding-left: 20px;
  padding-top: 50px;
  color: #ffffff;
  margin-bottom: 40px;
  padding-bottom: 40px;
  font-size: 20px;
  background-color: #0C38B1;
  border-radius: 30px;
}

.twitter .tcontent {
  padding-top: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.music {
  padding-top: 20px;
  margin: auto auto;
  border-radius: 20px;
  padding-left: 40px;
  margin-left: 40px;
  padding-right: 40px;
  margin-right: 40px;
  background-color: #0C38B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 70px;
  margin-left: 40px;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.music .sc {
  padding-left: 30px;
}

.music .sc2 {
  padding-left: 30px;
}

.music .sc3 {
  padding-left: 30px;
}

.music .sc, .music .spotify, .music .sc2, .music .sc3 {
  overflow: hidden;
}

.music:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: 2s;
  transition: 2s;
}

.mhe {
  text-align: center;
  padding-top: 40px;
  color: #0C38B1;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #0C38B1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ffffff;
  color: #0C38B1;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  margin-top: 40px;
  padding-top: 40px;
  padding-left: 40px;
  margin-left: 50px;
  padding-right: 40px;
  margin-right: 40px;
  border-radius: 5px;
  background-color: #0C38B1;
  padding: 20px;
  border-radius: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact h2 {
  padding-bottom: 20px;
}

.contact:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: 2s;
  transition: 2s;
}

@media only screen and (max-width: 900px) {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0;
  }
  h1, h2 {
    text-align: center;
  }
  .mainhead h1 {
    font-size: 20px;
  }
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 40px;
  }
  .navbar1 ul {
    padding-left: 75px;
    padding-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar1 ul a {
    font-size: 13px;
    margin: auto auto;
  }
  .navbar1 li {
    -webkit-transition: 1s;
    transition: 1s;
    margin: auto auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .navbar1 li a {
    padding-left: 10px;
    margin: auto auto;
  }
  .navbar1 a:hover {
    -webkit-transition: 1s;
    transition: 1s;
    background-color: black;
  }
  .aboutsection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutsection img {
    margin: auto auto;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 40%;
    height: auto;
  }
  .aboutsection p {
    padding-top: 20px;
    text-align: center;
    font-size: small;
  }
  .projectsection h2 {
    text-align: center;
  }
  .projectsection .twitterdata {
    padding-left: 40px;
    margin-left: 40px;
    padding-right: 40px;
    margin-right: 40px;
    text-align: center;
    margin-bottom: 50px;
    background-color: #0C38B1;
    border-radius: 30px;
    margin-top: 50px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .projectsection .twitterdata h3 {
    font-size: 30px;
    color: white;
  }
  .projectsection .twitterdata .twitterdatacontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projectsection .twitterdata .twitterdatacontent img {
    width: 100%;
  }
  .projectsection .twitterdata .twitterdatacontent p {
    color: white;
    padding-bottom: 10px;
    font-size: 10px;
  }
  .projectsection .fusion {
    margin-top: 30px;
  }
  .projectsection .fusion h3 {
    font-size: 20px;
  }
  .projectsection .fusion .fcontent {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projectsection .fusion .fcontent p {
    margin: auto auto;
    font-size: 10px;
  }
  .projectsection .fusion .fcontent img {
    margin: auto auto;
    border-bottom-left-radius: 0px;
    width: 100%;
  }
  .projectsection .tictac h3 {
    text-align: center;
    font-size: 20px;
  }
  .projectsection .tictac h3 span {
    margin: auto auto;
    font-size: 10px;
  }
  .projectsection .tictac .tconten {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projectsection .tictac .tconten p {
    margin: auto auto;
    font-size: 10px;
  }
  .projectsection .tictac .tconten img {
    width: 100%;
  }
  .projectsection .snake h3 {
    font-size: 20px;
  }
  .projectsection .snake h3 span {
    font-size: 10px;
  }
  .projectsection .snake .sconten {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
  .projectsection .snake .sconten p {
    font-size: 10px;
  }
  .projectsection .snake .sconten img {
    border-bottom-left-radius: 0px;
    width: 100%;
  }
  .projectsection .twitter h3 {
    font-size: 20px;
  }
  .projectsection .twitter .tcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
  .projectsection .twitter .tcontent span {
    font-size: 10px;
  }
  .projectsection .twitter .tcontent p {
    font-size: 10px;
  }
  .projectsection .twitter .tcontent img {
    border-bottom-left-radius: 0px;
    width: 100%;
  }
  .projectsection .pwned {
    padding-bottom: 0px;
  }
  .projectsection .pwned h3 {
    font-size: 20px;
  }
  .projectsection .pwned .pcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectsection .pwned .pcontent p {
    padding-top: 20px;
    font-size: 10px;
  }
  .projectsection .pwned .pcontent img {
    width: 100%;
    border-bottom-left-radius: 0px;
  }
  .projectsection .more p {
    font-size: 10px;
    color: white;
  }
  .skillsinterest {
    margin: auto auto;
  }
  .skillsinterest p {
    padding-top: 10px;
    font-size: 20px;
  }
  .skillsinterest span {
    font-size: 10px;
  }
  .insp {
    padding-top: 30px;
    margin: auto auto;
    padding-right: 40px;
  }
  .insp p {
    text-align: center;
    padding-right: 10px;
  }
  .education h2 {
    padding-right: 20px;
  }
  .education tag3 {
    padding-bottom: 10px;
  }
  .education .edtext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .education .edtext P1, .education .edtext P2, .education .edtext P3, .education .edtext P4 {
    margin: auto auto;
    padding-top: 15px;
    text-align: center;
  }
  .education .edtext img {
    width: 20%;
    height: auto;
    margin: auto auto;
  }
  .music {
    display: -ms-grid;
    display: grid;
    grid-column: auto;
  }
  .music .sc, .music .spotify, .music .sc2, .music .sc3 {
    margin: auto auto;
  }
  .music .sc iframe, .music .spotify iframe, .music .sc2 iframe, .music .sc3 iframe {
    margin: 0 0;
  }
}
/*# sourceMappingURL=main.css.map */